 html {
    height: 100%;
  }
  
 body {
    background-image: linear-gradient(to top, #748DA6 20%, #C689C6 100%);
  }

 .our-app{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 15px 0px;
    max-width: 700px;
    margin: auto;
  }

  form{
    font-family: 'Gantari', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Josefin Sans', sans-serif;
  }

  .date,
  .time,
  .city,
  .weather-icon,
  .temperature,
  .celsius,
  .fahrenheit,
  .five-day-forecast,
  #humidity-wind {
   color: #393f4e;
  }

  .date{
    font-size: 20px;
    width: 110px;
    line-height: 25px;
    list-style: none;
    margin-bottom: 5px;
    padding: 10px 20px 10px 0;
  }

  .time{
    font-size: 25px;
  }
  
.degree-temp {
  font-size: 60px;
}

.celsius-fahrenheit {
  font-size: 20px;
}

.five-day-forecast {
  margin: 50px 0px 60px 100px;
  font-size: 20px;
}

.city{
  font-size: 35px;
}

button {
  display: inline;
  margin: 10px;
  padding: 10px 13px 8px 13px;
  box-sizing: border-box;
  background: #B2A4FF;
  border-width: 2px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  border: 1px solid #B2A4FF;
  border-radius: 15px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
}

button:hover {
  color: #393f4e;
  background: #b69ff0;
  border-radius: 15px;
  box-shadow: 0 0 5px #ffffff, 0 0 8px #ffffff, 0 0 10px #ffffff;
  cursor: pointer;
}

input {
  padding: 7px;
  margin-top: 15px;
  margin-left: 10px;
  background-color: #D3CEDF;
  border: 1px solid #b69ff0;
  border-radius: 4px;
}

.weather-icon{
  margin-top: 15px;
}

.Weather-Info{
  margin-left: 7px;
}

#footer{
  margin: 10px;
}

#humidity-wind{
  font-size: 20px;
  margin-top: 25px;
}

#box{
  margin-top: 10px;
}

.temperature{
  margin-left: 35px;
}

.main-weather-img {
  width: 80%;
}